entityInfo.name=net1.federate__d
entityInfo.purpose={"group":"Servers"}
entityInfo.number_key=1
authInfo.pubkey.path=/home/jake/project/iotauth/entity/auth_certs/Auth101EntityCert.pem
entityInfo.privkey.path=/home/jake/project/iotauth/entity/credentials/keys/net1/Net1.federate__dKey.pem
auth.ip.address=10.218.100.147
auth.port.number=21900
entity.server.ip.address=10.218.100.147
entity.server.port.number=15045
network.protocol=TCP