name: CI

on:
  push:
    branches:
      - main
  pull_request:
  # Also allow running this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  unit-tests-single:
    uses: lf-lang/reactor-c/.github/workflows/unit-tests.yml@main
    with:
      cmake-args: '-UNUMBER_OF_WORKERS'

  unit-tests-multi:
    uses: lf-lang/reactor-c/.github/workflows/unit-tests.yml@main
    with:
      cmake-args: '-DNUMBER_OF_WORKERS=4'

  fetch-lf:
    uses: lf-lang/lingua-franca/.github/workflows/extract-ref.yml@master
    with:
      file: 'lingua-franca-ref.txt'

  lf-default:
    needs: fetch-lf
    uses: lf-lang/lingua-franca/.github/workflows/c-tests.yml@master
    with:
      runtime-ref: ${{ github.ref }}
      compiler-ref: ${{ needs.fetch-lf.outputs.ref }}

  lf-gedf-np:
    needs: fetch-lf
    uses: lf-lang/lingua-franca/.github/workflows/c-tests.yml@master
    with:
      runtime-ref: ${{ github.ref }}
      compiler-ref: ${{ needs.fetch-lf.outputs.ref }}
      scheduler: GEDF_NP

  lf-gedf-np-ci:
    needs: fetch-lf
    uses: lf-lang/lingua-franca/.github/workflows/c-tests.yml@master
    with:
      runtime-ref: ${{ github.ref }}
      compiler-ref: ${{ needs.fetch-lf.outputs.ref }}
      scheduler: GEDF_NP_CI

  lf-heuristic:
    needs: fetch-lf
    uses: lf-lang/lingua-franca/.github/workflows/c-tests.yml@master
    with:
      runtime-ref: ${{ github.ref }}
      compiler-ref: ${{ needs.fetch-lf.outputs.ref }}
      scheduler: heuristic
